
<div class="col-12 mb-4">
  <img class="img-fluid project-img" src="<%- config.root %><%- item.cover_image || theme.default_cover_image %>" alt="<%- item.title || theme.default_post_title || "Untitled" %>">
</div>
<!--
<div class="col-lg-4 col-12 pt-3 px-4 pr-lg-5">
  <h1><%- item.title || theme.default_post_title || "Untitled" %></h1>
</div>-->
<!--<div class="col-lg-8 col-12 pt-lg-3 mb-4 pl-lg-5 px-lg-0 px-4 portfolio-content">-->

<div class="col-lg-1"></div>

<div class="col-lg-10 col-12 pt-lg-3 mb-4 pl-lg-6 pr-lg-6 px-4 portfolio-content">
  <h1><%- item.title || theme.default_post_title || "Untitled" %></h1>
  <%- item.content %>
  <div>
    <a href="/portfolio">&#10229; <small>Back</small></a>
  </div>
</div>

<div class="col-lg-1"></div>

